@model ExpanceTracker.Models.Category

@{
    ViewData["Title"] = "Create";
}





<div class="row">
    <div class="col-md-7 col-sm-12 m-auto">
        <div class="widget p-5">
   <form  asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="Hidden" name="CategoryId" value="CategoryId"/>
            <div class="mb-3">
                <div class='e-btn-group custom-rbt-group'>
                    <input type="radio" id="radioleft" name="Type" value="Expence" checked="@(Model.Type=="Expence")" />
                    <label class="e-btn" for="radioleft">Expence</label>
                    <input type="radio" id="radiomiddle" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                    <label class="e-btn" for="radiomiddle">Income</label>
                 
                </div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="Title" name="Title" placeholder="Title" ejs-for="@Model.Title" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="icon" name="Icon" placeholder="Icon" ejs-for="@Model.Icon" floatLabelType="Always"></ejs-textbox>

                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
          
                <ejs-button type="submit" cssClass="e-success" content="Submit" id="submit"/>
         
        </form>
        </div>
     

<div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
